FIREBASE_API_KEY=
FIREBASE_APP_ID=
FIREBASE_PROJECT_ID=munasaba-dev
FIREBASE_SENDER_ID=
FIREBASE_STORAGE_BUCKET=munasaba-dev.appspot.com
FUNCTIONS_REGION=europe-west1
REVENUECAT_ANDROID_KEY=
REVENUECAT_IOS_KEY=
SUPPORT_WHATSAPP=
SUPPORT_EMAIL=support@munasaba.app
PRIVACY_URL=https://munasaba.app/privacy
