<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: lets the CI screenshot script open each screen directly with `am start`. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name=".OnboardingActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".SettingsActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".TasbihActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".AzkarDetailActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".QuranPagerActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".AdhanSettingsActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".QiblaActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".CalendarActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".ZakatActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".TrackerActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".RemindersActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".HadithBooksActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".HadithReaderActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".NamesActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".RuqyahActivity" android:exported="true" tools:replace="android:exported" />
        <activity android:name=".QuranSearchActivity" android:exported="true" tools:replace="android:exported" />
    </application>
</manifest>
